p { color:rgb(28, 28, 113); font-size:larger; }
p {background-color: rgb(232, 226, 198); background-size:0px }

li { text-align:center; color:rgb(149, 47, 149); }

html {background-color: powderblue;}

span {background-color: rgb(151, 230, 230);}
img {width: 150px}

